.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff2d;
  padding: 0.5em 2em;
  margin-top: 1em;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.header__other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  margin-top: 1em;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: #e6e6e6 2px solid;
  border-top: #e6e6e6 2px solid;
}
.header__login__button {
  background: var(
    --Accent-gold-hover,
    linear-gradient(87deg, #98540a 5.91%, #9d6323 42.63%, #ffb73c 91.82%)
  );
  border: none;
  border-radius: 10px;
  padding: 0.5em 2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  height: 52px;
  max-width: 300px;
}
.header__login__button:hover {
  background: var(
    --Accent-gold-hover,
    linear-gradient(87deg, #ffb73c 5.91%, #9d6323 42.63%, #98540a 91.82%)
  );
}
.header__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  padding: 0.5em 2em;
  margin-top: 2em;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.header__login__button__mobile {
  display: none;
}
.header__logo__About svg * {
  fill: #000;
}
.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  width: 40%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}
.header__nav.open {
  opacity: 1;
  visibility: visible;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.header__actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}
.black {
  color: #000 !important;
}
.header__nav__item {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
  padding: 0.5em 1em;
  font-size: 16px;
}
.header__nav__item__other {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
  padding: 0.5em 1em;
  font-size: 16px;
}
.header__nav__item__other:hover {
  color: #7698b1;
}
.header__nav__item:hover {
  color: #7698b1;
}
.header__language {
  background: rgba(255, 255, 255, 0.12);
  border: none;
  display: flex;
  align-items: center;
  padding: 0.7em;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.header__language__other {
  background: #000;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.7em;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.header__language__about {
  background-color: #000000c7;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.7em;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.header__main {
  position: absolute;
  z-index: 9;
  width: 100%;
}
[lang="ar"] {
  .header__main {
    direction: rtl;
  }
}
.header__language::after {
  position: absolute;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 35px;
  color: #000;
  background-color: #ffffff14;
  z-index: 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  left: 0.5em;
  transform: translateX(0);
}

.header__language.active::after {
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
.header__language__entry {
  padding: 0.3em 0.7em;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.header__language__entry:first-child {
  color: #ffc74c;
}
.header__language.active {
  .header__language__entry:first-child {
    color: white;
  }
  .header__language__entry:nth-child(2) {
    color: #ffc74c;
  }
}
.header__language__about__entry {
  padding: 0.3em 0.7em;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
}
.header__language__about__entry:first-child {
  background-color: #fff;
  color: #c9892e;
  border-radius: 6px;
}
.header__language:first-child {
  color: #0c0b0b99;
}
.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
}
.header__actions__menu {
  background-color: #3d3d3d;
  border: none;
  border-radius: 10px;
  display: none;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
@media (width < 768px) {
  .header__login__button__mobile {
    display: block;
  }
  .header__login__button__desktop {
    display: none;
  }
  .header__actions__menu {
    display: flex;
  }
  .header__language__other {
    background-color: #3d3d3d;
  }
  .header__nav {
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 0.5em;
    gap: 0;

    flex-direction: column;
    position: absolute;
    top: 6em;
    right: 2em;
    transform: translate(0em, -4em);
    transform: scale(0);
    border-radius: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    transition: transform 0.5s ease-in-out;
  }
  .header__nav.open {
    top: 6em;
    border-radius: 10px;
    transform: translate(0, 0);
    transform: scale(1);
    transform-origin: top right;
  }
  .header__nav__item__other {
    color: #fff;
  }
  .header__nav__back {
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5em;
    gap: 0;
    flex-direction: column;
    position: absolute;
    top: 6em;
    right: 2em;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  }
  .header__logo {
    width: 130px;
  }
}
